<div class="post">
  <div class="author">
    <img class="author_img" src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-prn2/v/t1.0-1/c15.0.50.50/p50x50/10645251_10150004552801937_4553731092814901385_n.jpg?oh=37c91237919012390c2413251948e1fc&oe=55559310&__gda__=1431008679_64cd910771f70da726aa3313e1fcda2a" />
    <div class="author_name">
      <%= link_to post.from_name, "/users/#{post.from_id}/posts" %>
    </div>
    <div class="timestamp">
      <%= link_to(post.created_time.strftime("%B %-d, %Y at %-l:%M%P"), "/posts/#{post.id}") %>
    </div>
  </div>
  <%= prepare_text(post.message, @query) %>
  <% if post.post_type == "link" %>
    <div class="link">
      <% unless post.picture.nil? %>
        <img src="<%= post.picture.gsub('158', '470') %>" />
      <% end %>
      <div class="story_text">
        <h4 class="title">
          <%= link_to post.name, post.link, target: '_blank' %>
        </h4>
        <p class="description">
        <%= post.description %>
        </p>
        <div class="caption">
          <%= post.caption %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% search_result = search_result || false %>
<% unless search_result %>
  <div class="comments">
    <% @posts.nil? ? comments = post.comments : comments = post.comments[0..2] %>
    <% comments.each do |comment| %>
      <%= render comment %>
    <% end %>
    <% if post.comments.length > 3 and comments.length == 3 %>
      <a href="<%= "/posts/#{post.id}" %>" data-total-comments="<%= post.comments.length %>" class="more_comments" id="<%= post.id %>">
        View <%= post.comments.length - 3 %> more comments
      </a>
    <% end %>
  </div>
<% end %>
